  
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;   
}
/*start slader part*/
.slader{
    display: flex;
    height: 800px;

}
.slader_text{
    width: 50%;
    margin: 120px 0px 0px 200px;
}
.slader_text h1{
    color:#404040;
    font-size:55px;
}
.span_text{
    color: orange;
}
.slader_text h1 ,p{
    width:485px;
}
.slader_img{
    width: 50%;
}
.slader_img img {
    margin:120px 0px 0px 0px;
    width:70%;
}
.gradient_button{
    padding-top: 50px;
}
.link_button{
    text-decoration: none;
    color: white;
    background-image:linear-gradient(to top right, #ff9966 67%, #ff6600 100%);
    padding: 15px  35px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
/*end slader part*/
/*start 2nd part*/
.about_me{
    height:650px;
    background-image: url(../image/shapes/Frame2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.about_me img{
    width:45%;
    padding: 0px 0px 0px 170px;
}
.slader_text h2{
    color:#708090;
    font-size: 35px;
    margin-top: 120px;
}
/*end 2nd part*/
/*start 3rd part*/
.menu_item{
    display: flex;
}
.recipies{
    margin-top: 100px;
    text-align: center;
}
.recipies_text{
    color:#5F9EA0;
    font-size:40px;
}
#p-tag_3rd_part{
    margin-left: 35%;
}
.menu_item img{
    width: 100%;

}
.menu_item p{
    width: 300px;
}
.right_card{
    width: 20%;
    border: 15px solid white;
    border-radius:15px;
    margin: 50px 0px 0px 150px;
    box-shadow: 0px 0px 20px -10px #606060;
}
.center_card{
    width: 20%;
    border: 15px solid white;
    border-radius:15px;
    margin: 50px 0px 0px 150px;
    box-shadow: 0px 0px 20px -10px #606060;

}
.left_card{
    width: 20%;
    border: 15px solid white;
    border-radius:15px;
    margin: 50px 0px 0px 150px;
    box-shadow: 0px 0px 20px -10px #606060;
}

/*popularity part*/
.popularity_main{
    margin-top: 100px;

}
.popularity{
    display: flex;
    width:80%;
    margin: auto;
    box-shadow: 0px 0px 20px -10px #606060;
    border-radius:15px;


}
.subscribers{
    width: 20%;
    margin: auto;
    text-align: center;

}
.followers{
    width: 20%;
    margin: auto;
    text-align: center;

}
.likes{
    width: 20%;
    margin: auto;
    text-align: center;
    
}